<%= provide(:title, '') %>
<% if signed_in? %>

  <h1>サインインしてるよ</h1>
  <!-- Begin Left Column -->
  <div id="my_bookmark">
    <h2>new!</h2>
    <ul>
      <%= render @entries %>
    </ul>
    
  ページ遷移ここらへん
  </div>
  <!-- End Left Column -->
		 
  <!-- Begin Right Column -->
  <div id="new_entry">
    <h2>my bookmark</h2>
    <ul>
      
      <% @bookmarks.each do |bm| %>
        <li><h2><%= link_to bm.entry.title , bm.entry.url , :target =>["_blank"] %></h2></li>
      <% end %>
    </ul>
  ページ遷移ここらへん		 
  </div>
  <!-- End Right Column -->

<% else %>
 <h1>サインインしてないよ</h1>
 <section>
   <%= render :template => 'sessions/new' %>
 </section>
   <%= form_for(@user) do |f| %>
     <%= render :template => 'users/new' %>
   <% end %>

<% end %>

<div id="footer">
Copyright (C) 有明三日目. All Rights Reserved.　
</div>
