<%= provide(:title, 'Sign n!') %>
<div class="sign">
  <h2>サインインして下さい</h2>

  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name ,class:"text" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password ,class:"text" %>
    </div>

    <div class="actions">
      <%= f.submit "サインイン", class: "submit" %>
    </div>

  <% end %>
</div>
