<%= provide(:title, 'Sign n!') %>
<div id="sign_in">
  <h2>Sign In!</h2>

  <%= form_for(:session, url: sessions_path) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>

  <% end %>
</div>
