<%= provide(:title, 'User Page!') %>
<% if @message  %>
    <p id="notice"><%= @message %></p>
<% end %>
<p>
ようこそ<%= @user.name %>さん
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
